@import '../../../styles/colors';

.button {
  // @apply rounded-2xl h-6 py-2 px-[0.63rem] xl:rounded-3xl xl:px-8 xl:h-12;
  height: 2.5rem;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.linkBtn {
  // @apply h-6 rounded-3xl px-4 py-3 xl:h-12 xl:px-6 xl:py-4;
  display: flex;
  padding: 0.5rem 1.2rem;
  white-space: nowrap;
  border-radius: 2rem;
}

.count {
  border: 1px solid $pink100;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out all 0.3s;

  &:hover {
    background: $pink_T1;
  }
}
