$pink100: #b51749;
$pink_T1: #b2255f1a;
$pink_T2: #f4e3e9;
$pink_T3: #f9eff3;
$pink200: #241a1d;
$pink_T4: #e84a7c;
$white: #ffffff;
$black: #000000;
$grey100: #323232;
$grey200: #575757;
$grey300: #7d7d7d;
$grey330: #7d7d7d73;
$grey400: #2b0310;
$lightBg: #faf3f5;
$yellow: #ecb22e;
$light_pink: #fbe4eb;
$blue: #074183;
