.slideEnterActive {
  animation: SlideOpen 0.4s ease-out forwards;
}

.slideExitActive {
  animation: SlideClose 0.4s ease-out forwards;
}

.slideEnterReverseActive {
  animation: SlideReverseOpen 0.4s ease-out forwards;
}

.slideExitReverseActive {
  animation: SlideReverseClose 0.4s ease-out forwards;
}

.fadeEnterActive {
  animation: fadeIn 0.1s ease-out forwards;
}

.fadeExitActive {
  animation: fadeOut .001s linear forwards;
}

@keyframes SlideOpen {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes SlideClose {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes SlideReverseOpen {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes SlideReverseClose {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
