.input {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  @apply bg-white rounded-xl md:rounded-2xl;
}

.image-shadow {
  box-shadow: 0px 12px 13px -6px #0000000a;
  background: linear-gradient(0deg, #fcfcfc, #fcfcfc),
    linear-gradient(0deg, #efefef, #efefef);
}

.input__box {
  font-size: 16px;
  @apply text-neutral-500;
  font-weight: 500;
  background-color: transparent !important;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
  }
}

.input__box:focus {
  outline: none;
  background-color: transparent !important;
}

.select-mui {
  padding: 0;
  width: 100%;
  // background-color: red !important;
  @apply rounded-xl md:rounded-2xl;

  svg {
    fill: #858c94;
  }

  .MuiChip-root {
    border-radius: 5px !important;
    background-color: #00b4074d;
  }

  .MuiAutocomplete-popper {
    border-radius: 12px !important;
    border: 1px solid #eaeaf0 !important;
    box-shadow: 0px 8px 39px rgba(56, 21, 86, 0.08) !important;
    font-family: "Poppins", sans-serif !important;
  }

  .MuiOutlinedInput-root {
    font-size: 1rem !important;
    font-family: "Poppins", sans-serif !important;

    &::placeholder {
      font-size: 14px !important;
      font-weight: 400 !important;
      font-family: "Poppins", sans-serif !important;
    }
  }

  .MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 1rem !important;
    padding: 1rem 1rem !important;
  }

  .MuiAutocomplete-root .MuiOutlinedInput-root {
    min-height: 3rem !important;
    height: auto;
    border-color: red !important;
    border-radius: 1rem !important;
    padding: 1rem 1rem !important;
    // @apply py-4 md:py-[21px] px-4 md:pr-7 rounded-xl md:rounded-2xl;
  }

  @media (max-width: "1120px") {
    .MuiAutocomplete-root .MuiOutlinedInput-root {
      padding: 0 1rem !important;
      border-radius: 12px !important;
    }
  }

  .menu-item {
    font-size: 0.9rem !important;

    &.placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #777777;
    }
  }

  .MuiAutocomplete-input {
    input {
      height: 3rem !important;
      font-size: 0.5rem !important;
      font-family: "Inter", sans-serif !important;
    }
  }

  .input-err-msg {
    @apply text-red-500 mt-1 text-[10px];
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: right;
  }

  .radio {
    width: 100%;
    // border: 1px solid #dcdce5 !important;
    // border-radius: 8px;
    // padding: 0 0.25rem !important;

    &__label {
      position: relative;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      margin-left: -0.5em;
      margin-right: 1em;
      vertical-align: middle;
    }

    &__wrapper {
      @apply text-green-500;
      padding: 0.6rem;
      flex: 0 0 auto;
      overflow: visible;
      font-size: 1.5rem;
      text-align: center;
      transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-radius: 50%;
      border: 0;
      cursor: pointer;
      margin: 0;
      display: inline-flex;
      outline: 0;
      position: relative;
      align-items: center;
      user-select: none;
      vertical-align: middle;
      justify-content: center;
      text-decoration: none;
      background-color: transparent;

      &:hover {
        background-color: rgb(137 55 206 / 0.08);
      }
    }

    &__custom-input {
      display: flex;
      position: relative;

      &__svg {
        fill: #222222;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 1.5rem;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        flex-shrink: 0;
        user-select: none;
      }

      &__inside {
        transform: scale(1);
        transition: transform 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        left: 0;
        position: absolute;
        fill: #222222;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 1.5rem;
        flex-shrink: 0;
        user-select: none;
      }
    }

    &__input {
      top: 0;
      left: 0;
      width: 100%;
      cursor: inherit;
      height: 100%;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
    }

    &__input:not(:checked) + &__wrapper {
      color: rgba(0, 0, 0, 0.54);

      .radio__custom-input__inside {
        transform: scale(0);
        transition: transform 150ms cubic-bezier(0.4, 0, 1, 1) 0ms;
      }
    }
  }
  .no-border {
    // background-color: #f9fafb;
    // border-radius: 16px;

    // .MuiOutlinedInput-root {
    //   min-height: 56px;
    // }
    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }
}
